In [1]:
import models
from models import *

In [2]:
construct_ds()

models.application_test
models.application_train
models.bureau
models.bureau_balance
models.credit_card_balance
models.installments_payments
models.POS_CASH_balance
models.previous_application

In [3]:
models.application_train

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,0,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0

In [4]:
limit = limit_ds(models.installments_payments, 100)

In [5]:
limit

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
8951492,1742967,341621,1.0,5,-1002.0,-1015.0,12156.615,12156.615
783188,1415218,173866,1.0,13,-442.0,-432.0,18392.535,10047.645
12805861,1383810,426586,1.0,10,-8.0,-23.0,5499.945,5499.945
6179387,1130683,227507,0.0,82,-398.0,-398.0,7082.145,7082.145
5490008,2598983,238835,0.0,63,-1359.0,-1359.0,156.735,156.735
...,...,...,...,...,...,...,...,...
7000891,1409599,240211,1.0,8,-2187.0,-2218.0,10492.020,10492.020
8407647,2736891,318039,0.0,37,-1853.0,-1853.0,1125.000,1125.000
4697811,1031805,272449,2.0,3,-158.0,-171.0,71981.820,71981.820
3535747,1135065,122081,1.0,8,-578.0,-578.0,52117.425,52117.425
6591890,2259800,276332,5.0,8,-159.0,-165.0,16063.605,16063.605