In [ ]:
#MASUKIN BATESNYA BOSSS !!!

pilterfile = 100

In [81]:
import missingno as masno
import pandas as pd
import numpy as np
import secretplacing as ccd
import psycopg2
import sqlalchemy as db
import os

from sqlalchemy import create_engine, Column, Integer, String, Sequence, Float,PrimaryKeyConstraint, ForeignKey
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker, relationship, backref
from sqlalchemy.sql import *

# load environment variables
DB_USER = ccd.userdb
DB_PASS = ccd.dpass
DB_NAME = ccd.dbs
DB_IP = ccd.dbip
DB_PORT = ccd.dbpt

def connect_db():
    #_load_db_vars()
    # create db create_engine
    dbs = create_engine(f'postgresql://{DB_USER}:{DB_PASS}@{DB_IP}:{DB_PORT}/{DB_NAME}')
    connection = dbs.connect()
    metadata = db.MetaData()
    return dbs

Base = declarative_base()

def list_file():
    path = 'dataset/'
    files = []
    # r=root, d=directories, f = files
    for r, d, f in os.walk(path):
        for file in f:
            if '.csv' in file:
                files.append(os.path.join(file))
    return files, path

def list_df():
    path = 'dataset/'
    df_lst = []
    # r=root, d=directories, f = files
    for r, d, f in os.walk(path):
        for file in f:
            if '.csv' in file:
                df_lst.append(os.path.join(file).split(".")[0])
    return df_lst

def construct_ds():
    path = 'dataset/'
    mod = 'models.'
    files = []
    # r=root, d=directories, f = files
    for r, d, f in os.walk(path):
        for file in f:
            if '.csv' in file:
                files.append(os.path.join(file))
    for f in files:
        print(mod+f.split(".")[0])
        exec("%s = pd.read_csv('%s')" % (f.split(".")[0],path+f),globals()) 
    
        

def construct_dbs(limitbosku):
    engine = connect_db()
    files,path = list_file()
    df_lst = list_df()
    
    #reading the datasets
    for f in files:
        exec("%s = pd.read_csv('%s')" % (f.split(".")[0],path+f))
        
    #limiting the datasets for uploading to postgres
    #limitbosku = 10
    if (limitbosku == 0):
        limitbosku = 1
        for d in df_lst:
            exec("%s = %s.sample(n=%s, random_state=1, replace=False)" % (d, d, limitbosku))
    elif limitbosku in ['unlimited', 'full', 'all', 'kabeh', 'semua']:
        limitbosku = 5
        for d in df_lst:
            exec("%s = %s.sample(n=%s, random_state=1, replace=False)" % (d, d, limitbosku))
    else:
        limitbosku = limitbosku
        for d in df_lst:
            exec("%s = %s.sample(n=%s, random_state=1, replace=False)" % (d, d, limitbosku))
    
    #Engineer Alchemist GOOOOO!!!
    for alch in df_lst:
        exec("%s.to_sql('%s', engine, if_exists='replace', index=False)" % (alch,alch))

    
def fetchByQuery(self, query):
    fetchQuery = self.connection.execute(f"SELECT * FROM {query}")
        
    for data in fetchQuery.fetchall():
        print(data)
        
# installments_payments.sample(n = pilterfile, random_state=1, replace=False)
        
def limit_ds(oh, yes):
    no = 1
    exec("%s = %s.sample(n=%s, random_state=%s, replace=False)" % (oh, oh, yes, no))
    return oh

# class PointsOfInterest(Base):
#     __tablename__="poi_categories"
#     __table_args__ = (
#         PrimaryKeyConstraint('poi_id', 'category'),
#     )
#     poi_id =Column(Integer,ForeignKey('points_of_interest.poi_id'))
#     category = Column(String)
    

# #############################
# # # Semi __INIT__
# #############################



# for f in files:
#     print(f.split(".")[0])
#     exec("%s = pd.read_csv('%s')" % (f.split(".")[0],path+f))

In [14]:
construct_dbs(10)

In [72]:
construct_ds()

models.application_test
models.application_train
models.bureau
models.bureau_balance
models.credit_card_balance
models.installments_payments
models.POS_CASH_balance
models.previous_application

In [75]:
len(installments_payments)

13605401

In [82]:
limit_ds(installments_payments, 10 )

IndentationError: unexpected indent (<string>, line 1)

In [42]:
installments_payments.sample(n=1000, random_state=1, replace=False)

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
8951492,1742967,341621,1.0,5,-1002.0,-1015.0,12156.615,12156.615
783188,1415218,173866,1.0,13,-442.0,-432.0,18392.535,10047.645
12805861,1383810,426586,1.0,10,-8.0,-23.0,5499.945,5499.945
6179387,1130683,227507,0.0,82,-398.0,-398.0,7082.145,7082.145
5490008,2598983,238835,0.0,63,-1359.0,-1359.0,156.735,156.735
...,...,...,...,...,...,...,...,...
661953,2319822,174549,1.0,4,-191.0,-207.0,9722.835,9722.835
2175513,1231252,111299,0.0,7,-521.0,-540.0,7807.725,100.350
2766043,1824304,101403,1.0,13,-1671.0,-1697.0,9639.900,59.760
10777839,2188850,393824,1.0,1,-429.0,-434.0,46908.270,144212.985
1070331,1785003,170202,1.0,8,-2326.0,-2343.0,18763.920,18763.920

In [ ]:
files,path = list_file()
#path = "dataset/"

In [ ]:
for f in files:
    print(f.split(".")[0])
    exec("%s = pd.read_csv('%s')" % (f.split(".")[0],path+f))

In [ ]:
installments_payments = installments_payments.sample(n = pilterfile, random_state=1, replace=False)
installments_payments

In [ ]:
# Filtering dataset of Credit Card Balance with Install Payment as x1
x1 = credit_card_balance[credit_card_balance['SK_ID_PREV'].isin(installments_payments['SK_ID_PREV'])]
x1

In [ ]:
# Merging between Install Payment and x1 as x2
x2 = installments_payments.merge(x1, on=('SK_ID_PREV', 'SK_ID_CURR'), how='left', suffixes=('_x1', '_Ip'))
x2

In [ ]:
# Filtering dataset of Credit Card Balance with Install Payment as x3
x3 = POS_CASH_balance[POS_CASH_balance['SK_ID_PREV'].isin(installments_payments['SK_ID_PREV'])]
x3

In [ ]:
# Merging between x3 and x2 as x4
x4 = x2.merge(x3, on=('SK_ID_PREV', 'SK_ID_CURR'), how='left', suffixes=('_x2', '_x3'))
x4

In [ ]:
# Merging between x4 and Previous Application as x5
x5 = x4.merge(previous_application, on=('SK_ID_PREV', 'SK_ID_CURR'), how='left', suffixes=('_pa', '_x4'))
x5

In [ ]:
# Merging between x5 and Application(Train) as x6
x6 = x5.merge(application_train, on=('SK_ID_CURR'), how='left', suffixes=('_x5', '_apps'))
x6

In [ ]:
# Merging between x6 and Bureau as y1
y1 = x6.merge(bureau, on=('SK_ID_CURR'), how='left', suffixes=('_x6', '_bur'))
y1

In [ ]:
# Merging between y1 and Bureau Balance as table_final 
table_final = y1.merge(bureau_balance, on=('SK_ID_BUREAU'), how='left', suffixes=('_y1', '_bur_bal'))
table_final

In [ ]:
masno.bar(table_final)

In [ ]:
df_join = pd.merge(app_tr, bureau, on='SK_ID_CURR', how='inner', suffixes=('_train','_bureau'))

In [ ]:
for i in df_join.columns: print(i,end='\n')

In [ ]:
df_join = pd.merge(df_join, bureau_balance, on='SK_ID_BUREAU', how='inner', suffixes=('_join','_burbal'))

In [ ]:
df_join = pd.merge(df_join, previous_application, on='SK_ID_CURR', how='inner', suffixes=('_join','_preapp'))

In [ ]:
len(df_join['SK_ID_PREV'].unique())

In [ ]:
df_join = pd.merge(df_join, previous_application, on='SK_ID_CURR', how='inner', suffixes=('_join','_preapp'))

In [ ]:
df_join = pd.merge(df_join, POS_CASH_balance, on='SK_ID_CURR', how='inner', suffixes=('_join','_pcb'))

In [ ]:
asu = instalments_payments.sample(n=1000)

In [ ]:
dancok = pd.merge(asu, credit_card_balance, on='SK_ID_PREV', how='inner', suffixes=('_ip','_ccb'))

In [ ]:
dancok

In [ ]:
dancok = pd.merge(dancok, previous_application, on='SK_ID_PREV', how='inner', suffixes=('_join','_pa'))

In [ ]:
dancok

In [ ]:
dancok = pd.merge(dancok, application_train, on='SK_ID_CURR', how='inner', suffixes=('_join','_apt'))

In [ ]:
dancok

In [ ]:
dancok2 = pd.merge(dancok, POS_CASH_balance, on='SK_ID_CURR', how='inner', suffixes=('_join','_pcb'))

In [ ]:
dancok2

In [ ]:
dancok = pd.merge(dancok2, bureau, on='SK_ID_CURR', how='inner', suffixes=('_join','_bur'))

In [ ]:
import os

path = 'dataset/'

files = []
file= []
# r=root, d=directories, f = files
for r, d, f in os.walk(path):
    for file in f:
        if '.csv' in file:
            files.append(os.path.join(r, file))

for f in files:
    print(f)

In [ ]:
filenames = ["dataset/application_test.csv",
"application_train.csv"]
dataframes = []
for f in filenames:
    dataframes.append(pd.read_csv(f))

In [ ]:
d = pd.DataFrame(dataframes)

In [ ]:
import glob
import pandas as pd

# get data file names
path =r'dataset/'
filenames = glob.glob(path + "/*.csv")

dfs = []
for filename in filenames:
    dfs.append(pd.read_csv(filename,encoding = 'unicode_escape'))
    
# Concatenate all data into one DataFrame
big_frame = pd.concat(dfs, ignore_index=True)

In [ ]:
big_frame